*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: "Montserrat", sans-serif;
}

.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    box-shadow:rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
}

.navbar-links{
    display: flex;
    column-gap: 20px;
}

.navbar-links a{
    text-decoration: none;
    color: #1D232C;
}

.navbar-links a:hover{
    text-decoration: underline;
    color: #1D232C;
}

/* hamburger menu */

.navbar-menu-toggle{
    display: none;
    cursor: pointer; 
}

/* side-navbar */

.side-navbar{
    background-color: #1D232C;
    width: 50%;
    height: 100%;
    position: absolute;
    top: 0;
    left: -60%;
    padding: 20px;
    color: white;
    transition: left 0.3s ease-in-out;
    display: inline-block;
   
    
}

.side-navbar-link{
    margin-bottom: 30px;

}

.side-navbar-links a{
    text-decoration: none;
    color: white;
}

.side-navbar-links a:hover{
    text-decoration: underline;
}

/* Header */

.Header{
    display: flex;
    justify-content: center;
    gap: 50px;
    padding: 50px;
}

.header-button{
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-top: 10px;
    background-color: #1D232C;
    color: white;
    cursor: pointer;
}

.service{
    padding: 20px;

}

.service-container-1{

    display: flex;
    justify-content: space-between;
    align-items: center;
    
}



.service-container-2 {

    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;

}

.service-container-2 div{
    background-color: #F2F4F7;
    border-radius: 5px;
    padding: 10px;
}







.new-arrival{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    min-height: 200px;
}

.new-arrival-container{
    position: relative;
    flex-basis: 20%;
}

.new-arrival button{
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 5%;
    padding-bottom: 5%;
    margin-top: 10px;
    color: #1D232C;
    position: absolute;
    top: 50%;
    left: 18%;
    border-radius: 10px;
    border:none;
}

.News{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    position: relative;
}

.news-input{
    padding: 11px;
    width: 80dw;
    margin-bottom: 10px;
    border: solid black;
}

.news button{
    margin-top: 10px;
    color: #F2F4F7;
    background-color: #1D232C;
    border-radius: 10px;
    padding: 10px;
}

.footer{
    margin-top: 20px;
    padding: 40px;
    background-color: #1D232C;
    color: white;
}

.product-section{
    margin-top: 20px;

}

.product-search{
    width: 80%;
    border: solid black 2px;
    border-radius: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    margin: auto;
}

.products-box img{
    width: 150px;
    height: 150px;
    object-fit: cover;
    border-radius: 20px;
    
}

.product-search input{
    border: none;
    background-color: transparent;
    width: 100%;
}

.product-search input:focus{

    outline: none;
}

.products{
    padding: 20px;
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    justify-content: space-around;
}

.products-box{

    text-align: center;
    flex-basis: 20%;
}

.contact-form-container{
    width: 40%;
    margin: 50px;
    background-color:#1D232C;
    padding: 20px;
    border-radius: 20px;
    text-align: left;
    color: white;
}

form{
    display: flex;
    flex-direction: column;
}

label{
    margin: 10px;
    font-size: 16px;
}

input,textarea{
    width: 100px;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: white;
    color: black;
    font-size: 14px;
}

input:focus, textarea:focus {
    outline: 2px solid #007bff;
}

button{
    margin-top: 15px;
    padding: 10px;
    border: none;
    background-color: #007bff;
    color: white;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
}

button:hover{
    background-color: #0056b3;
}




/* Media Query */

@media screen and (max-width:700px) {
    .navbar-menu-toggle{
        display: block;
    }
    .navbar-links{
        display: none;
    }
    .header-image{
        display: none;
    }
    .service-container-1{
        display: none;
    }
    .service-container-2{
        flex-direction: column;
    }

    .contact-form-container{
        width: 80%;
    }
    
}